.banner-container
    display: flex
    justify-content: center

.dropdowns
    flex-wrap: wrap

.values
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 1023px
    gap: 30px

    @media (max-width: 480px)
        width: 335px
        gap: 20px

    .dropdown
        width: 100%
        margin: 0
        border-radius: 5px
        overflow: hidden

        .dropdown-header
            padding: 10px
            display: flex
            justify-content: space-between
            align-items: center
            cursor: pointer

            h2
                margin: 0

            span
                font-size: 1.5rem

        .value-text
            padding: 10px 20px
            background-color: #f6f6f6
            margin: 0
            width: auto

.bg-about
    filter: brightness(70%)
    object-fit: cover
    width: 100%
    height: 100%

main
    margin-bottom: 38px
    margin-top: 38px

    @media (max-width: 480px)
        margin-bottom: 19px
        margin-top: 19px
