$red: #ff6060

.collapse
    margin-bottom: 1rem
    border-radius: 5px
    overflow: hidden
    width: 582px

.collapse-header
    background-color: $red
    color: white
    padding: 10px 20px 10px 10px
    border-radius: 10px
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer

    h2
        margin: 0
        font-size: 18px
        font-weight: 700

        @media (max-width: 480px)
            font-size: 13px

.collapse-content
    p
        margin-top: 0
        width: 100%
        text-align: left
        background-color: #f6f6f6
        font-size: 13px

    ul
        list-style: none
        padding-left: 0
        margin-top: 0
        margin-bottom: 0
        text-align: left
        background-color: #f6f6f6

        li
            margin-bottom: 5px
            font-size: 13px

            @media (max-width: 480px)
                font-size: 12px
