#root
    position: relative

.not-found
    display: flex
    flex-direction: column
    gap: 139px
    justify-content: center
    flex-wrap: wrap
    width: 100%
    font-family: 'Montserrat', sans-serif
    color: #ff6060

.number
    font-size: 288px
    margin: 0

p
    font-size: 1.5rem
    width: 100%

.back-home
    color: black
    text-transform: underline
    text-decoration: underline // Ajoutez cette ligne pour souligner le lien
